{% extends "layouts.master" %}

{% block content %}
  <div class="container">
    {% include "components.sadady.layout.header" %}
    {% include "components.sadady.layout.session-strip" %}
    {% block landing_content %}{% endblock %}
    {% include "components.sadady.layout.footer" %}
  </div>
  {% include "components.sadady.journey.summary-modal" %}
{% endblock %}
